@model Filmoteka.Models.Movies
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<p>
    <li>
        Genre: @Model.Genre.MovieGenre
    </li>
    <li>
        Release date: @Model.ReleaseDate
    </li>
    <li>
        Date added: @Model.DateAdded.ToLongDateString()
    </li>
    <li>
        Number in stock: @Model.NumberInStock
    </li>
</p>